---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const link = 'class="hover:text-primary-800 dark:hover:text-primary-700 transition ease-in duration-200"';
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <section>
    <div class="max-w-4xl mx-auto pt-6 px-4 sm:px-12 text-gray-500 dark:text-slate-400">
      <div class="sm:text-7xl text-5xl text-black dark:text-gray-300">Engineering leadership</div>
      <div class="sm:text-6xl text-3xl text-black dark:text-gray-500">The hard parts</div>
      <div class="pt-6 sm:text-2xl text-xl text-black dark:text-gray-300">
        You can't improve what you can't see.
        <br /><br />
        My mission is to highlight patterns in technical teams, dig into the nuances, and provide practical tools to help
        you make the hard decisions that build great engineering organizations and companies. And help you grow as a leader.
      </div>
      <div class="pt-6 text-center text-2xl pb-10 md:pb-16 max-w-5xl mx-auto">
        <em>“The key is always to see the thing-as-it-is in all its unique and marvelous complexity.”</em><br /> - Betty
        Edwards
      </div>
    </div>
  </section>

  <a class="scroll-my-20" id="book"></a>
  <section>
    <Features
      title="The Book"
      subtitle="Let's deep dive into different areas of engineering leadership, those with tension, but where you will need you to make important decisions."
      items={[
        {
          title: 'Chapter 1: The problem upgrade chart',
          description: "We measure our self-worth with problems going away. But what if they don't?",
          icon: 'tabler:chart-bar',
          href: 'problem-upgrade-chart',
        },
        {
          title: 'Chapter 2: Platform investments',
          description: 'How much of your r&d spend should be focused on platform work?',
          icon: 'tabler:rocket',
          href: 'platform-investments',
        },
        {
          title: 'Chapter 3: Layerinitis',
          description: 'What virus infects growing engineering orgs the most?',
          icon: 'tabler:layout-distribute-horizontal',
          href: 'layerinitis',
        },
        {
          title: 'Chapter 4: Alignment > Autonomy',
          description: "What's the worst leadership advice you've ever heard?",
          icon: 'tabler:arrows-right-left',
          href: 'autonomy-alignment',
        },
        {
          title: 'Chapther 5: Going fast slowly',
          description: 'We are getting slower as we scale, how can we get back to being fast?',
          icon: 'tabler:arrow-right-circle',
          href: 'fast-slowly',
        },
        {
          title: 'Chapter 6: Problem solving vs problem planning',
          description: 'How should product and engineering work together and plan work?',
          icon: 'tabler:hammer',
          href: 'problem-solving-vs-planning',
        },
        {
          title: 'Chapther 7: Product Engineers',
          description:
            'Guest chapter with friend Sherif about how product engineers are important to nurture and grow on your teams.',
          icon: 'tabler:users',
          href: 'https://sherifmansour.medium.com/product-engineers-f424da766871',
        },
        {
          title: 'Chapter Next: Coming soon',
          description: 'Writing as slowly as possible... ',
          icon: 'tabler:question-mark',
          href: '',
        },
      ]}
    />
    <div class="bg-primary-50 dark:bg-slate-800 text-2xl pb-6 sm:px-14 px-12">
      <div class="max-w-3xl mx-auto text-xl text-gray-600 dark:text-slate-400">
        <p class="text-white">Companion podcasts or videos:</p>
        <ul class="pt-2 list-disc">
          <li>
            <a class={link} href="https://getdx.com/podcast/27"
              >DevX Engineering Enablement Podcast: How much should you invest in Platform work?</a
            >
          </li>
          <li>
            <a class={link} href="https://www.youtube.com/watch?v=wvWy3JPITSw"
              >TeamGage Podcast: Why is getting alignment on teams is so hard?'</a
            >
          </li>
          <li>
            <a
              class={link}
              href="https://projecttoproduct.org/podcast/jean-michel-lemieux/?utm_source=podcast&utm_medium=speaker&utm_campaign=pod_2022-05-03_mik-plus-one-jean-michel-lemieux"
              >Project to Product Podcast: What I've learned leading engineering teams</a
            >
          </li>
          <li>
            <a
              class={link}
              href="https://fellow.app/supermanagers/jean-michel-lemieux-shopify-building-a-connected-network-of-brains/"
              >Super managers Podcast: building a network of connected brains</a
            >
          </li>
          <li>
            <a class={link} href="https://www.youtube.com/watch?v=16aDxRIrPE8"
              >Canadian Tech@Scale Presentation: Leading your teams with maps</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- FAQs Widget ******************* -->
  <a class="scroll-my-12" id="about"></a>
  <section>
    <div class="max-w-4xl mx-auto pt-12 px-4 sm:px-12 text-gray-500 dark:text-slate-400">
      <div class="sm:text-6xl text-4xl text-black dark:text-gray-300">Hi, I'm Jean-Michel</div>

      <div class="pt-10 sm:text-2xl text-xl text-black dark:text-gray-300">
        <img class="float-right h-auto max-w-[40%] rounded-full" src="images/me.webp" />
        <p>
          It's very nice to meet you. I'm a software developer and company builder. I was a founding member on the
          Eclipse platform and open source team, and then led and scaled the engineering orgs as CTO and VPE at
          Atlassian and Shopify from hundreds to several thousand developers.
        </p>

        <p class="py-4">
          Community and education are big passions and co-founded <a
            class={link}
            href="https://canadiantechatscale.com/">Canadian Tech @ Scale</a
          > which brings together tech leaders from across Canada and founded <a
            class={link}
            href="https://devdegree.ca">DevDegree.ca</a
          >
          which is an accrediated work-integrated computer science degree unlike any other.
        </p>
        <p class="py-4">
          Outside of writing and programming, I'm also working as an LP and advisor with <a
            class={link}
            href="https://www.generationim.com/">Generation IM</a
          >
          and advisor/board with a few companies:
          <a class={link} href="https://buildkite.com/">BuildKite</a>,
          <a class={link} href="https://www.alayacare.com/">AlayaCare</a>,
          <a class={link} href="https://avantarte.com/">AvantArte</a>,
          <a class={link} href="https://dreamteamos.com/">DreamTeamOS</a>,
          <a class={link} href="https://www.benchsci.com/">BenchSci</a>,
          <a class={link} href="https://www.opslevel.com/">OpsLevel</a>,
          <a class={link} href="https://www.search.io/">Search.io (acquired by Algolia)</a>,
          <a class={link} href="https://govalo.com/">Govalo</a>.
        </p>
        <img class="float-left h-auto mr-6 max-w-[30%] rounded-md" src="images/drawing.jpeg" />
        <p class="py-2">
          I'm highly influenced by the book <a
            class={link}
            href="https://twitter.com/jmwind/status/1383050070937980929?s=20"
            >Drawing from the right side of the brain</a
          >. While drawing was never my profession, learning to draw helped me appreciate the value of looking at things
          closely and from many angles.
          <br /><br />
          Our brain jumps to conclusions, so seeing things for what they are will give you super powers in life. The book
          was also an inspiration for the name of my book and website.
        </p>
        <p class="py-2">Here are a few more articles and videos to get to know me a bit more:</p>
      </div>
      <div>
        <ol class="clear-left text-2xl py-2 px-8 pb-10 list-disc">
          <li>
            <a
              class={link}
              href="https://obj.ca/life-after-shopify-giving-ottawa-entrepreneur-jean-michel-lemieux-a-second-wind/"
            >
              Ottawa Business Journal: Life after Shopify</a
            >
          </li>
          <li>
            <a class={link} href="https://www.nytimes.com/interactive/2021/10/15/style/sneaker-bots.html">
              New York Times - Welcome to the bot wars</a
            >
          </li>
          <li>
            <a
              class={link}
              href="https://financialpost.com/executive/careers/shopifys-dev-degree-program-accelerates-university-co-op-learning"
              >Financial Post: DevDegree accelerates university co-op learning</a
            >
          </li>
          <li>
            <a
              class={link}
              href="https://www.theglobeandmail.com/business/commentary/article-how-to-sustain-canadas-brain-gain/"
              >Globe and Mail: How to sustain Canadas brain drain</a
            >
          </li>
          <li>
            <a
              class={link}
              href="https://www.theglobeandmail.com/business/commentary/article-for-tech-workers-its-about-more-than-money/"
              >Globe and Mail: For tech workers its about more than money</a
            >
          </li>
          <li>
            <a class={link} href="https://www.youtube.com/watch?v=bzJfPeslk8I">Bot Devevelopers confront @jmwind</a>
          </li>
          <li>
            <a class={link} href="https://vimeo.com/456735890">Shopify: How we get shit done</a>
          </li>
          <li>
            <a class={link} href="https://www.youtube.com/watch?v=Th7XN__ltyc"
              >An insiders look at the technology that powers Shopify</a
            >
          </li>
          <li>
            <a class={link} href="https://open.spotify.com/episode/1hqA1cMVVjUlqHFG07G3Xb"
              >Sockjig: Sneaker drops, bot-protection, and landing Supreme</a
            >
          </li>
          <li>
            <a class={link} href="https://shopify.engineering/dev-degree-a-big-bet-on-software-education"
              >DevDegree: A big bet on software education</a
            >
          </li>

          <li>
            <a class={link} href="https://alphalist.com/podcast/15-jean-michel-lemieux-cto-shopify"
              >Alphalist podcast: Building software at scale</a
            >
          </li>
          <li>
            <a class={link} href="https://moderncto.io/167-jean-michel-lemieux-cto-shopify/"
              >ModernCTO: Building a product centered culture</a
            >
          </li>
          <li>
            <a class={link} href="https://www.youtube.com/watch?v=AK8gnNwcMOg">dotScale: Extensibility as a Product</a>
          </li>
        </ol>
      </div>
    </div>
  </section>
</Layout>
